.header {
  position: sticky;
  top: 0;
  z-index: 111;
  background-color: #311813;
  padding: 21px 5px;
  a {
    display: flex;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    cursor: pointer;
    width: 118px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__category {
    margin-right: 10px;
    cursor: pointer;
    width: 18px;
  }
  &__user {
    cursor: pointer;
    width: 18px;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__cart {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    p {
      display: flex;
      justify-content: center;
      position: absolute;
      width: 15px;
      height: 14px;
      margin-left: 15px;
      margin-bottom: 30px;
      background-color: #4f9167;
      border-radius: 7px;
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
    }
    img {
      width: 16px;
    }
  }
  &__favorite {
    width: 18px;
    cursor: pointer;
  }
}
