.login {
  &__form {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    p {
      font-weight: 400;
      font-size: 16px;
      color: #070509;
      margin-bottom: 10px;
    }
    input {
      padding: 15px;
      background-color: #f6f4f2;
      border-radius: 3px;
      border: none;
      font-size: 16px;
      color: #070509;
      margin-bottom: 10px;
    }
  }

  &__register {
    font-size: 18px !important;
    text-align: center;
    margin: 0 !important;
  }
  button {
    cursor: pointer;
    background-color: #C38D57;
    border-radius: 3px;
    padding: 15px;
    font-size: 18px;
    color: #fafafa;
    border: 0;
    outline: none;
    margin: 20px 0px;
    line-height: 19px;
  }
}
