@import "./libs/normalize";
@import "./components/all";

.body {
  background-color: #fafafa;
}
.container {
  max-width: 380px;
  margin: auto;
  @media (max-width: 389px) {
    max-width: 340px;
  }
}
.swiper {
  padding-bottom: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #311813 !important;
}
.swiper-container-horizontal,
.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}
