@import "./libs/normalize";
@import "./components/all";

body {
  background-color: #ffffff;
}
.container {
  max-width: 380px;
  margin: auto;
  @media (max-width: 389px) {
    max-width: 340px;
  }
}
.swiper {
  padding-bottom: 20px !important;
}

.swiper-pagination-bullet-active {
  background-color: #a35330 !important;
}
.swiper-pagination-bullet {
  background-color: #c38d57 !important;
}

.swiper-container-horizontal,
.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}
